.DS_Store
osx-venv/
temp/
datasets/household_power_consumption.txt
Project-lecture_Nazarii_Maria/household_power_consumption.txt
osx-venv-3_12
osx-venv-3_11
Cats_and_Dogs-20231119T134556Z-001.zip
venv/
petfinder-adoption-prediction/
